name: Build and deploy Node.js app to Azure Web App - quizzed

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        run: |
          cd backend
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload backend artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./backend    

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: ./node-app     # <<-- download into ./node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9DC3CFF41AAE42828F22DCC4BC90666F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E15EB7D4F5A848FA982482A3741B7154 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7BDAE0F74B91487BB013C032796D4FD0 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'quizzed'
          slot-name: 'Production'
          package: ./node-app   # <<-- point to the downloaded backend contents
